@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap');

.container{
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Thambi 2', cursive;
}
.signInForm{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-content: center;
}
.labels{
    font-size: 2rem;
    font-weight: bolder;
    color: #004989;
}
.inputBoxes{
    width: 26rem;
    height: 2rem;
    outline: none;
    border: none;
}
.inputContainer{
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    background: white;
    border-radius: 18px;
}
.signInButton{
    background: #004989;
    width: fit-content;
    height: fit-content;
    font-size: 1.5rem;
    padding: 9px;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.signInForm > a{
    margin: auto;
    margin-top: 1rem;
}

@media only screen and (max-width: 500px) {
    .inputBoxes{
        width: 15rem;
    }
  }